//Variables ↴
@font-face {
  font-family: Pacifico-Regular;
  src: local(Pacifico-Regular),
    url(../fonts/Pacifico-Regular.ttf) format("truetype");
}

@font-face {
  font-family: GentiumBookBasic-Regular;
  src: local(GentiumBookBasic-Regular),
    url(../fonts/GentiumBookBasic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: GentiumBookBasic-Bold;
  src: local(GentiumBookBasic-Bold),
    url(../fonts/GentiumBookBasic-Bold.ttf) format("truetype");
}

$base-green: #317773;
$pale-green: #a0bcbc;
$white-green: #d0dcdc;

.flex-row {
  display: flex;
  flex-direction: row;
}

//Base Website ↴
html,
body {
  height: 100%;
  margin: 0;
  background-color: $pale-green;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

//Header ↴
.header {
  justify-content: center;
  background-color: $base-green;
  width: 100%;
  height: 50px;
  grid-row-start: 0;
  grid-row-end: 1;
}

.menu {
  display: flex;
  box-sizing: border-box;
  color: white;
  width: 80%;
  max-width: 1100px;
  height: 50px;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  margin: 0 auto 0 auto;
}

.logo {
  font-family: Pacifico-Regular;
  font-size: 28px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

//Content ↴
.content {
  font-family: GentiumBookBasic-Regular;
  display: fixed;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  max-width: 1100px;
  padding: 25px;
  margin: 25px auto 25px auto;
}

.srcContainer {
  composes: flex-row;
}

.srcButton,
.srcButtonActive {
  height: 20px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-right: 10px;
  font-size: 20px;
  border: 2px solid $base-green;
  border-bottom: none;
  color: $base-green;
  cursor: default;
  font-family: GentiumBookBasic-Bold;
}

.srcButtonActive {
  background-color: $base-green;
  color: white;
}

.srcButton:hover,
.year:hover,
.srcButtonActive:hover,
.yearFocus:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dot {
  composes: flex-row;
  margin-top: 10px;
}

.dot:not(:last-child):after {
  content: "\00a0·\00a0";
  font-weight: bold;
}

.srcDivider {
  width: 100%;
  height: 5px;
  background-color: $base-green;
}

.years,
.yearFocus {
  composes: flex-row;
  cursor: default;
  color: $base-green;
  font-size: 20px;
}

.yearFocus {
  font-family: GentiumBookBasic-Bold;
}

.bookResults {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.bookResultsYear {
  font-family: GentiumBookBasic-Bold;
  font-size: $base-green;
  font-size: 28px;
  color: $base-green;
}

.bookResultsNmb {
  background-color: $base-green;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 0 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 32px;
}

.bookContainer {
  justify-content: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 150px);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.booksStars {
  cursor: pointer;
}

img {
  box-shadow: -5px 5px 5px #aaaaaa;
  max-height: 250px;
}

.stars {
  text-align: center;
  color: $base-green;
  font-size: 26px;
}

.addBook {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pale-green;
  cursor: pointer;
  width: stretch;
  height: 250px;
}

.add {
  color: $pale-green;
  border-radius: 50%;
  background-color: $white-green;
  height: 50px;
  width: 50px;
}

.add::before {
  content: "+";
  height: 52px;
  width: 50px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: $pale-green;
}

//Footer ↴
.footer {
  background-color: $base-green;
  width: 100%;
  height: 25px;
  bottom: 0;
  grid-row-start: 2;
  grid-row-end: 3;
}

//Meda Queries ↴
$breakpoints: (
  1024px: 230px,
  768px: 210px,
  480px: 160px,
);

@each $width, $margin in $breakpoints {
  @media screen and (max-width: $width) {
    .addBook {
      height: $margin;
    }
    img {
      max-height: $margin;
    }
    .stars {
      font-size: calc($margin / 10);
    }
  }
}

$breakpoints2: (
  1024px: 140px,
  768px: 130px,
  480px: 100px,
);

@each $width, $margin in $breakpoints2 {
  @media screen and (max-width: $width) {
    .bookContainer {
      grid-template-columns: repeat(auto-fill, $margin);
    }
  }
}

@media screen and (max-width: 768px) {
  .bookResultsNmb {
    font-size: 16px;
    height: 28px;
  }
  .bookResultsYear {
    font-size: 24px;
  }

  .srcButton,
  .srcButtonActive,
  .years {
    font-size: 16px;
  }

  .srcButton,
  .srcButtonActive {
    padding: 2px 5px 0px 5px;
    margin-bottom: -2px;
  }

  .content {
    padding: 10px;
  }

  .bookContainer {
    grid-gap: 15px;
  }
}
