@font-face {
  font-family: Pacifico-Regular;
  src: local(Pacifico-Regular),
    url(../fonts/Pacifico-Regular.ttf) format("truetype");
}

@font-face {
  font-family: GentiumBookBasic-Regular;
  src: local(GentiumBookBasic-Regular),
    url(../fonts/GentiumBookBasic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: GentiumBookBasic-Bold;
  src: local(GentiumBookBasic-Bold),
    url(../fonts/GentiumBookBasic-Bold.ttf) format("truetype");
}

$base-green: #317773;
$pale-green: #a0bcbc;

html,
body {
  height: 100%;
  margin: 0;
  background-color: $pale-green;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.header {
  justify-content: center;
  background-color: $base-green;
  width: 100%;
  height: 50px;
  grid-row-start: 0;
  grid-row-end: 1;
}

.menu {
  display: flex;
  box-sizing: border-box;
  color: white;
  width: 80%;
  max-width: 1100px;
  height: 50px;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  margin: 0 auto 0 auto;
}

.content {
  font-family: GentiumBookBasic-Regular;
  display: fixed;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  max-width: 1100px;
  padding: 25px;
  margin: 25px auto 25px auto;
}

.srcDivider {
  width: 100%;
  height: 5px;
  background-color: $base-green;
}

.srcButton {
  height: 20px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-right: 10px;
  font-size: 20px;
  border: 2px solid $base-green;
  border-bottom: none;
  color: $base-green;
  cursor: pointer;
}

.srcButton:hover {
  text-decoration: underline;
}

.srcButtonActive {
  composes: srcButton;
  background-color: $base-green;
  color: white;
  font-family: GentiumBookBasic-Bold;
}

.srcContainer {
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: $base-green;
  width: 100%;
  height: 25px;
  bottom: 0;
  grid-row-start: 2;
  grid-row-end: 3;
}

.logo {
  font-family: Pacifico-Regular;
  font-size: 28px;
}
